@font-face {
  font-family: "Noto Serif";
  src: url("./NotoSerif-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sigmar One";
  src: url("./SigmarOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Special Elite";
  src: url("./SpecialElite-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
